<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}

</head>
<body>
<div class="container">
    <nav class="nav nav-pills nav-fill">
        <a class="nav-link" href="/">Homepage</a>
        <a class="nav-link " href="/page1">Git</a>
        <a class="nav-link" href="/page2">Docker</a>
        <a class="nav-link" href="/page3">Python/Flask</a>
        <a class="nav-link active" ria-current="page" href="/page4">CI/CD</a>
        <a class="nav-link" href="/page5">Glossary</a>
        <a class="nav-link" href="/page5">AAA Testing</a>
        <a class="nav-link" href="/page5">OOPs</a>
        <a class="nav-link" href="/page5">SOLID</a>

    </nav>

    <div class="row">
        <!-- col 1 -->
        <h3><b>CI/CD (Continous Integration and Continous Delivery/Deployment)</b></h3>
        <div class="col-8">

            <h5><b>What is CI/CD?</b></h5>
            <ul>
                <li>
                    <h6><b>Continous Integration</b></h6>

                    <p>Continuous Integration is a software development practice where members of a team integrate their
                        work
                        frequently, usually each person integrates at least daily - leading to multiple integrations per
                        day.
                        Each integration is verified by an automated build (including test) to detect integration errors
                        as
                        quickly as possible. Many teams find that this approach leads to significantly reduced
                        integration
                        problems and allows a team to develop cohesive software more rapidly.
                    </p></li>
                <li>
                    <h6><b>Continous Delivery</b></h6>
                    <p>
                        Following the automation of builds and unit and integration testing in CI, continuous delivery
                        automates the release of that validated code to a repository. So, in order to have an effective
                        continuous delivery process, it’s important that CI is already built into your development
                        pipeline. The goal of continuous delivery is to have a codebase that is always ready for
                        deployment to a production environment.

                        In continuous delivery, every stage—from the merger of code changes to the delivery of
                        production-ready builds—involves test automation and code release automation. At the end of that
                        process, the operations team is able to deploy an app to production quickly and easily.
                    </p></li>
            </ul>
            <h5>Github Actions</h5>




        </div>
        <!-- col 1 end -->
        <!-- col 2 for images -->

        <div class="col">
            <!-- row 1 image1 -->
            <div class="row mb-3">
                <img src="{{ url_for('static', filename='images/cicd1.png') }}" class="img-fluid" alt="Image 1">
            </div>
            <!-- row 1 image1 end -->
            <!-- row 2 image2 -->

            <div class="row mb-3">
                <img src="{{ url_for('static', filename='images/cicd2.png') }}" class="img-fluid" alt="Image 2">
            </div>
            <!-- row 2 image2 end -->
            <!-- row 3 image3 -->

            <div class="row mb-3">
                <img src="{{ url_for('static', filename='images/cicd3.png') }}" class="img-fluid" alt="Image 3">
            </div>
            <!-- row 3 image3 end -->

        </div>
        <!-- col 2 for images end-->

    </div>
</div>